<%= form_for @user, controller: 'users', action: 'create' do |f| %>
<div>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.label :email%>
  <br>
  <%= f.text_field :email%>
  <br>
  <br>
  <%= f.label :'what is your favorite continent?'%>
  <br>
  <%= f.text_field :continent %>
  <br>
  <br>
  <%= f.label :'what is your favorite country?' %>
  <br>
  <%= f.text_field :country %>
  <br>
  <br>

  <%= f.submit "Create Profile" %>
</div>
<% end %>