<%= form_for @country do |f| %>
<div>
  <%= f.label :'What country did you visit?' %>
  <br>
  <%= f.text_field :name %>
  <br>
  <br>
   <%= f.label :'What are some cities you went to?' %>
  <br>
  <%= f.text_field :city%>
  <br>
  <br>
  <%= f.label :'What are some places/things you visited?' %>
  <br>
  <%= f.text_field :description %>
  <br>
  <br>
  <%= f.submit "Submit" %>
</div>
<% end %>