<h4> Continent: <%= @country.continent_name%></h4>
<h5> Country: <%= @country.name%> </h5>
<h5> Cities you toured: <%= @country.city%></h5>
<p><%= @country.description%></p>

<h3><% @country.visits.each do |visit| %>
    Name: <%= link_to visit.user.name, user_path(visit.user) %>
    <br>
  <% end %>

<h5>To edit click<a href="/countries/edit"> here! </a></h5>