<!DOCTYPE html>
<html>
  <head>
    <title>GlobalDoor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
    <% if current_user %>
       <a href="/countries/new"> Create List </a>
       <br>
       <a href="/logout"> Log-Out </a>
       <br>
       <a href="/users/home">HomePage</a>
       <br>
       <p>Hello, <%=current_user.username %>!</p>
     <%end %>
      <% if !current_user %>
          <a class="navbar-brand" href="/signup"/>Sign Up</a>
          <br>
          <a class="navbar-brand" href="/login"/>Log in</a>
          <br>
      <% end %>
   </div>
    <div class="container">
      <h1>Global Door</h1>
      <%=yield%>
    </div>
  </body>
</html>
