<!DOCTYPE html>
<html>
  <head>
    <title>GlobalDoor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
    <% if current_user %>
       <a href="/continents"> Continents </a>
       <br>
       <a href="/logout"> Log-Out </a>
       <br>
       <a href="/statics/home">HomePage</a>
       <br>
       <p>Hello, <%=current_user.name %>!</p>
     <%end %>
      <% if !current_user %>
          <%= link_to "Sign Up", new_user_path %>     
          <br>
          <%= link_to "Log In", login_path %>
          <br>
      <% end %>
   </div>
    <div class="container">
      <h1>Global Door</h1>
      <%=yield%>
    </div>
  </body>
</html>
