<!DOCTYPE html>
<html>
  <head>
    <title>GlobalDoor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
      <div class="container">
    <% if current_user %>
       <a href="/countries"> Countries </a>
       <br>
       <%= link_to "Log Out", logout_path, method: :delete %>
       <br>
       <a href="/home">HomePage</a>
       <br>
       <p>Hello, <%=current_user.user_capitalize %>!</p>
     <%end %>
      <% if !current_user %>
          <%= link_to "Sign Up", new_user_path %>     
          <br>
          <%= link_to "Log In", login_path %>
          <br>
      <% end %>
   </div>
    <div class="container">
      <h1>Global Door</h1>
      <%=yield%>
    </div>
  </body>
</html>
