<!DOCTYPE html>
<html>
  <head>
    <title>GlobalDoor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
    <% if user_is_authenticated %>
       <a href="/country/new"> Create List </a>
       <br>
       <a href="/logout"> Log-Out </a>
       <br>
       <a href="/home">HomePage</a>
       <br>
       <p>Hello, <%=current_user.username %>!</p>
     <%end %>

   </div>
    <div class="container">
      <h1>Global Door</h1>
      <%=yield%>
    </div>
  </body>
</html>
